.page {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/images/_A.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Space Grotesk', monospace;
    text-shadow: -3px 0px 0px var(--primary-color), 3px 0px 0px #d6b0b1;
    font-size: 120px;
    border-right: 2px solid rgba(25, 25, 25, 0.5);
    width: 838px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(40) normal, blinkCursor 0.3s infinite step-end alternate, moveHeader 1s ease-in 2.7s forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinkCursor {
    50% {
        border-color: transparent;
    }
}

@keyframes moveHeader {
    to {
        scale: 0.5;
        transform: translateY(-100vh) translateX(-100vw);
        display: none;
    }
}