<header>
  <h2>{{ name }}</h2>
  <nav>
    <ul>
      <li>
        <a href="#resumo">Resumo</a>
      </li>
      <li>
        <a href="#skills">Skills</a>
      </li>
      <li>
        <a href="#experienciaProfissional">Experiência Profissional</a>
      </li>
      <li>
        <a href="#formacaoECertificados">Formação e Certificados</a>
      </li>
      <li>
        <a href="#projetos">Projetos</a>
      </li>
      <li>
        <a href="#contato">Contato</a>
      </li>
    </ul>
  </nav>
</header>